<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
</head>

<body>
    <header class="header">
       
        <nav class="design_nav">
            <!-- <img src="sitelogo.jpeg" alt="none"> -->
            <a href="#add">Add Users</a>
            <a href="#alerts" >Alerts</a>
            <a href="#preview-scroll">log</a>           
        </nav>
    </header>

    
        <h1 id="control"  style="text-align: center; font-size: 50px; padding-bottom: 100px; background-color: #CADCFC;">Buttons</h1>

    <div class="grid-container">
        <div class="grid-item">
            <div class="control">
                <h2>Gate Control</h2>
                <label class="switch">
                  <input type="checkbox" id="gateSwitch">
                  <span class="slider"></span>
                </label>
              </div>
        </div>
        <div class="grid-item">
            <div class="control">
                <h2>window Control</h2>
                <label class="switch">
                  <input type="checkbox" id="gateSwitch">
                  <span class="slider"></span>
                </label>
              </div>
            
        </div>
        <div class="grid-item">
            <div class="control">
                <h2>door Control</h2>
                <label class="switch">
                  <input type="checkbox" id="gateSwitch">
                  <span class="slider"></span>
                </label>
              </div>
        </div>
        
    </div>

    <h1 id="alerts"  style="text-align: center; font-size: 50px; padding-bottom: 100px; background-color: #CADCFC;">Alerts</h1>
    <h1 id="log"  style="text-align: center; font-size: 50px; padding-bottom: 100px; background-color: #CADCFC;">Log</h1>



   

   

    <a href="#" class="top"> <i class='bx bx-up-arrow-alt'></i></a>

</body>

</html>