<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Door Access Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    #userDoorChart{
        max-width: 50vw;
        min-height: 40vh;
    }
</style>
<body>
    <canvas id="userDoorChart"></canvas>

    <script>
        async function fetchData() {
            const response = await fetch('/get-csv-data');
            const data = await response.text();
            return data;
        }

        async function createChart() {
            try {
                const csvData = await fetchData();
                console.log('CSV Data:', csvData);
                
                const rows = csvData.split('\n').slice(1);
                console.log('CSV Rows:', rows);
                
                let usernames = [];
                let doorCounts = [];
                rows.forEach(row => {
                    const columns = row.split(',');
                    const username = columns[0];
                    const door = parseInt(columns[3]);
                    console.log('Username:', username, 'Door:', door);
                    if (!usernames.includes(username)) {
                        usernames.push(username);
                        doorCounts.push(door);
                    } else {
                        const index = usernames.indexOf(username);
                        doorCounts[index] += door;
                    }
                });

                console.log('Usernames:', usernames);
                console.log('Door Counts:', doorCounts);

                const ctx = document.getElementById('userDoorChart').getContext('2d');
                const chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: usernames,
                        datasets: [{
                            label: 'Number of Times Door is Opened',
                            data: doorCounts,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }
        createChart();
    </script>
</body>
</html>
